.abm-body{


  padding: 10px;

}

.abm-header {
  display: flex;
  align-content: center;
  align-items: center;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th:nth-child(3) {
  text-align: center;
}

th:nth-child(4) {
  text-align: center;
}

td:nth-child(3){
  text-align: center;
}

td:nth-child(4){
  text-align: center;
}

#add-client-button {
  margin-left: 10px;
}

button {
  margin: 0 10px 0 10px;
}

@media only screen and (max-width: 1200px) {
  .responsive {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 90%;
    margin: 0;
    padding: 0;
  }
}
