.card-backdrop {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: block;
}

.card {
  display: flex;
  flex: 0 0 auto;
  text-align: center;
  margin: 30px 0 30px 0;
  width: 500px;
}

.pet-image{
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.9);
}

.pet-image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.pet-name-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin: 20px;
}

.pet-name-container p {
  font-weight: bold;
}

.card-header{
  background-color: rgb(250,246,151);
  position: relative;
  padding: 0;
  margin: 0;
}

.card-body{
  margin: 0;
  padding: 0;
}

.card-division{
  display:flex;
  padding: 20px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid;
  text-align: left;
}

.card-division img{
  margin: 0 10px 0 -5px;
  padding: 0;
}

#pet-button-bar{
  display: inline;
}

.pet-bar-button{
  display: inline-block;
  padding-top: 5px;
  margin: 0;
  width: 50%;
  height: auto;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.enabled-button:hover{
  filter: brightness(80%);
  cursor: pointer;
}

.disabled-button {

}

p{
  width: 100%;
  padding: 0;
  margin: 0;
}

.contact-medium-logo-module{
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px 20px 20px;
  flex-wrap: wrap;
}

.contact-medium-logo-container{
  margin: 10px 10px 10px 10px;
  height: 70px;
  width: 70px;
}

.contact-medium-logo:hover{
  filter: brightness(50%);
}

a {
  color: #282c34;
}

a:hover{
  filter: brightness(80%);
  color: #282c34;
}


@media only screen and (max-width: 1200px) {
  .card-container {
    padding: 0;
  }

}
@media only screen and (max-width: 500px) {
  .card-container {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}
