html{
  position:relative;
  min-height: 100%;
}

#webpage-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(255, 252, 218);
}

#webpage-header {
  background-color: #282c34;
  text-align: center;
  height: 60px;
  z-index: 10;
}

#webpage-content{
  display: flex;
  flex: 1 0 auto;
}

#webpage-footer {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #282c34;
  color: grey;
  z-index: 10;
}


#webpage-footer a {
  color: grey;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

#webpage-footer a:hover {
  opacity: 0.6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



